.photo {
  width: 350px;
  height: 350px;
  object-fit: contain;
}

.btn-wraper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
button {
  cursor: pointer;
  background-color: var(--primary-color);
}

.container {
  width: fit-content;
}
